@import "@armada/shared/theme.css";
@source "../";
@source "../../../../packages/shared/src";

/* CODE FOR SPINNING BORDER - START */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.spinning-border {
  position: relative;
}

/* The border itself */
.spinning-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  padding: 2px;

  background: conic-gradient(
    from var(--angle),
    transparent 0deg 300deg,
    var(--color-melon) 300deg 360deg
  );

  /* content-box is the inside of the button, second line is the entire button. xor excludes the content-box */
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  /* firefox compatibility */
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;

  animation: spin-colors 5s linear infinite;
  transition: opacity 0.3s ease-in-out;
}

.spinning-border:hover::before {
  opacity: 0;
}

@keyframes spin-colors {
  to {
    --angle: 360deg;
  }
}

/* CODE FOR SPINNING BORDER - END */
/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    font-family: var(--font-sans);
    @apply text-foreground font-base;

    overflow-x: hidden;

    background-color: var(--background);

    background-image:
      /* vertical double lines */
      repeating-linear-gradient(
        to right,
        transparent 0,
        transparent 28px,
        var(--color-snow) 28px,
        var(--color-snow) 29px,
        transparent 29px,
        transparent 33px,
        /* wider gap between stripes */ var(--color-snow) 33px,
        var(--color-snow) 34px,
        transparent 34px,
        transparent 60px
      ),
      /* horizontal double lines */
        repeating-linear-gradient(
          to bottom,
          transparent 0,
          transparent 28px,
          var(--color-snow) 28px,
          var(--color-snow) 29px,
          transparent 29px,
          transparent 33px,
          /* wider gap between stripes */ var(--color-snow) 33px,
          var(--color-snow) 34px,
          transparent 34px,
          transparent 60px
        );
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
