@font-face {
  font-family: "Bebas Neue Book";
  src: url("/fonts/BebasNeue-Book.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Bebas Neue Bold";
  src: url("/fonts/BebasNeue-Bold.otf") format("opentype");
  font-weight: 700;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.dark {
  /* Backgrounds */
  --background: var(--color-coconut);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  /* Snow */

  /* Text / Foreground */
  --foreground: var(--color-licorice);
  /* Licorice */
  --main-foreground: var(--color-licorice);
  /* Licorice */

  /* Primary Brand Color (Melon) */
  --main: var(--color-melon-700);

  /* Borders, rings, shadows */
  --border: var(--color-licorice);
  --ring: var(--color-licorice);
  --overlay: color-mix(in srgb, var(--color-licorice) 80%, transparent);
  --shadow: 4px 4px 0px 0px var(--border);

  /* Charts mapped to brand palette */
  --chart-1: var(--color-melon-700);
  /* Melon */
  --chart-2: var(--color-grape-700);
  /* Grape/Grapefruit */
  --chart-3: var(--color-licorice);
  /* Licorice */
  --chart-4: var(--color-pineapple);
  /* Pineapple */
  --chart-5: var(--color-coconut);
  /* Coconut (light) */

  /* Active Dot */
  --chart-active-dot: var(--color-licorice);
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >=--theme(--breakpoint-xs)) {
    max-width: none;
  }

  @media (width >=1400px) {
    max-width: 1400px;
  }
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 470px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-melon-700: #00d790;

  --color-grape-700: #e73953;

  --color-liqorice-700: #2d2d2c;

  --color-grapefruit: #e73953;
  --color-licorice: #2d2d2c;
  --color-coconut: #fff0d9;
  --color-snow: #ffffff;
  --color-pineapple: #f7b519;

  --font-bebas-neue: var(--font-bebas-neue);
  --font-lato: "Lato", sans-serif;
  --font-inter: var(--font-inter);
  --font-bebas-book: "Bebas Neue Book", sans-serif;
  --font-bebas-bold: "Bebas Neue Bold", sans-serif;

  --font-sans: "Lato", sans-serif;

  --animate-aurora: aurora 60s linear infinite;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-scroll: scroll 30s linear infinite;
  --animate-scroll-reverse: scroll-reverse 30s linear infinite;

  --container-sm: 640px;

  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }

    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll-reverse {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0);
    }
  }
}

/* CODE FOR SPINNING BORDER - START */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.spinning-border {
  position: relative;
}

/* The border itself */
.spinning-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  padding: 2px;

  background: conic-gradient(
    from var(--angle),
    transparent 0deg 300deg,
    var(--color-melon-700) 300deg 360deg
  );

  /* content-box is the inside of the button, second line is the entire button. xor excludes the content-box */
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  /* firefox compatibility */
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;

  animation: spin-colors 5s linear infinite;
  transition: opacity 0.3s ease-in-out;
}

.spinning-border:hover::before {
  opacity: 0;
}

@keyframes spin-colors {
  to {
    --angle: 360deg;
  }
}

/* CODE FOR SPINNING BORDER - END */
/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    font-family: var(--font-sans);
    @apply text-foreground font-base;

    background-color: var(--background);

    background-image:
      /* vertical double lines */
      repeating-linear-gradient(
        to right,
        transparent 0,
        transparent 28px,
        var(--color-snow) 28px,
        var(--color-snow) 29px,
        transparent 29px,
        transparent 33px,
        /* wider gap between stripes */ var(--color-snow) 33px,
        var(--color-snow) 34px,
        transparent 34px,
        transparent 60px
      ),
      /* horizontal double lines */
        repeating-linear-gradient(
          to bottom,
          transparent 0,
          transparent 28px,
          var(--color-snow) 28px,
          var(--color-snow) 29px,
          transparent 29px,
          transparent 33px,
          /* wider gap between stripes */ var(--color-snow) 33px,
          var(--color-snow) 34px,
          transparent 34px,
          transparent 60px
        );
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
