@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >=--theme(--breakpoint-xs)) {
    max-width: none;
  }

  @media (width >=1400px) {
    max-width: 1400px;
  }
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 470px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-melon-700: #00d790;

  --color-grape-700: #e73953;

  --color-liqorice-700: #2d2d2c;

  --font-bebas-neue: var(--font-bebas-neue);
  --font-lato: var(--font-lato);
  --font-inter: var(--font-inter);

  --animate-aurora: aurora 60s linear infinite;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-scroll: scroll 30s linear infinite;
  --animate-scroll-reverse: scroll-reverse 30s linear infinite;

  --container-sm: 640px;

  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }

    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll-reverse {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0);
    }
  }
}


/* CODE FOR SPINNING BORDER - START */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.spinning-border {
  position: relative;
}

/* The border itself */
.spinning-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  padding: 2px;

  background: conic-gradient(from var(--angle),
        transparent 0deg 300deg,
        #00d79099 300deg 360deg);

  /* content-box is the inside of the button, second line is the entire button. xor excludes the content-box */
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  /* firefox compatibility */
  mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    mask-composite: exclude;

  animation: spin-colors 5s linear infinite;
  transition: opacity 0.3s ease-in-out;
}

.spinning-border:hover::before {
  opacity: 0;
}

@keyframes spin-colors {
  to {
    --angle: 360deg;
  }
}
/* CODE FOR SPINNING BORDER - END */
/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
